/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 * This is a stylesheet will be compiled into base.css.
 *
 * Add application-wide styles to this file and they'll appear first in all layouts.
 *
 * The imports below allows us to take advantage of variables and mixins.
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


.not-implemented {
    font-style: italic;

&:before {
     content: '*';
     font-size: 80%;
     color: $brand-danger;
     margin-right: 2px;
 }
}

body {
    font-family: $font-family-sans-serif;
    font-weight: 300;
    min-width: 320px;
}

.wrapper {
> section {
  @include make-row();

.primary-full {
@include make-xs-column(12);
}

.primary {
@include make-sm-column(8);
}

.secondary {
@include make-sm-column(4);
    padding-top: 15px;
}

.primary-full, .primary {
    background-color: #fefefe;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
}
}
}

h1, .h1 {
    margin-bottom: 15px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    color: $blue-dark;
    margin-top: 0px;
}

.secondary {
h2, .h2 {
    font-size: $font-size-h2 * .75;
}

h3, .h3 {
    font-size: $font-size-h3 * .75;
}

h4, .h4 {
    font-size: $font-size-h4 * .75;
}

h5, .h5 {
    font-size: $font-size-h5 * .75;
}

h6, .h6 {
    font-size: $font-size-h6 * .75;
}
}

strong, label, th {
    font-weight: 400;
    color: $gray-dark;
}

.navbar-inverse {
.navbar-nav {
> .open {
> a, > a:hover, > a:focus {
                      background-color: $brand-primary;
                  }
}
}
}

.dropdown-menu {
    padding: 0px 0px;

> li {
> a {
      padding: 8px 20px;
  }
}

.sign-out-link {
    border-top: 1px solid $gray-lightest;
}
}

.add-button {
@extend %button-default;
    float: right;

&:before {
     content: '+';
     display: block;
     font-size: 20px;
     line-height: 1;
     float: left;
     margin-right: 5px;
     margin-left: -4px;
 }
}

#role-setter-buttons {
@include clearfix();
    margin-bottom: 10px;

.role-setter-button {
@extend %button-default;
    margin-right: 5px;
    margin-bottom: 5px;

&.active {
     background-color: $brand-secondary;
     color: white;
     box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
     text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
     border-color: white;
 }
}

#custom-indicator {
    display: none;
}

#show-auth-role-select-wrapper {
    display: inline-block;
    margin: 6px 5px;
}
}

#role-select-wrapper {
@include clearfix();
    clear: both;
}

.table {

> thead > tr > th,
> thead > tr > td,
> tbody > tr > th,
> tbody > tr > td,
> tfoot > tr > th,
> tfoot > tr > td {
      vertical-align: middle;
  }

> tbody {
> tr {
> td {
      padding: 0px 8px;

> a:not(.button-default):not(.button-primary):not(.button-success):not(.button-danger) {
      display: block;
      padding: 8px;
      margin: 0px -8px;
      transition: $transition-all-fast;

&:hover, &:focus {
              text-decoration: none;
              background-color: $gray-lightest;
          }
}
}
}
}
}

form {

.input-row {
@include make-row(15px);

.half {
@include make-xs-column(6, 15px)
}

.third {
@include make-xs-column(4, 15px)
}
}

p {
    font-size: $font-size-small;
}

fieldset {
legend {
    margin-bottom: 10px;
    padding-top: 15px;
    font-size: $font-size-h4;
}
}

.actions {
    text-align: right;
    margin-top: 20px;
}
}

.link-list {
@include navigation_list_vertical();

> li {
      margin-bottom: 4px;
  }
}

header {
#account-navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: $blue-dark;
    min-height: $account-navbar-height;
    min-width: 320px;
    border-bottom: 0px;
    z-index: 1040;

.link-list {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style-type: none;

.dropdown {
.dropdown-toggle {
    display: inline-block;
    padding: 0px 12px;
    font-size: 12px;
    line-height: 24px;
    color: white;

&:hover, &:focus {
              text-decoration: none;
          }
}

&.open {
.dropdown-toggle {
    background-color: $brand-primary;
}
}
}
}
}

#main-navbar {
    min-width: 320px;

.signed-in & {
    top: $account-navbar-height;
}
}
.navbar-default {
.navbar-brand {
@include img-retina('sca-logo.png', 'sca-logo@2x.png', 41px, 40px);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 50px;
    font-size: 22px;
    color: $blue-dark;
    font-weight: 400;

&:hover, &:focus {
              color: $brand-primary;
          }
}
}
}

#main {
    padding-top: $main-padding-top-base;
    padding-bottom: 40px;

.signed-in & {
    padding-top: $main-padding-top-base + $account-navbar-height;
}
}

/* Small devices (large tablets, 768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    form {
    .input-row {
    .half {
        float: none;
        width: 100%;
    }

    .third {
        float: none;
        width: 100%;
    }
}
}
}

/* Extra small devices (small mobile phones, less than 480px) */
@media only screen and (max-width: 479px) {
    #role-setter-buttons {
        margin-bottom: 5px;

    .role-setter-button {
        width: 49.5%;
        display: block;
        margin-right: 0px;

&:nth-child(odd) {
     float: left;
 }

&:nth-child(even) {
     float: right;
 }
}
}

form {
.input-row {
.half {
    float: none;
    width: 100%;
}

.third {
    float: none;
    width: 100%;
}
}
}
}